body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_LayoutGrid5
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   padding: 10px 10px 10px 10px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid5 > .row
{
   margin-right: -10px;
   margin-left: -10px;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2
{
   float: left;
}
#LayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: center;
}
#LayoutGrid5 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 75%;
   text-align: left;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   background-color: #FFFFFF;
   margin: 0;
   text-align: left;
   z-index: 1111 !important;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
   width: 223px;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 10px 10px 10px;
   width: 223px;
}
#wb_CssMenu1 a
{
   display: block;
   color: #838996;
   border: 0px solid #DCDCDC;
   background-color: transparent;
   background-image: none;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   width: 183px;
   height: 35px;
   line-height: 35px;
   padding: 0px 20px 0px 20px;
   vertical-align: middle;
   text-align: left;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #191970;
   border: 0px solid #1E40AF;
   background-color: transparent;
   background-image: none;
}
#wb_CssMenu1 .firstmain a
{
   margin-top: 10px;
}
#wb_CssMenu1 li.lastmain
{
   padding-bottom: 10px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#Table1
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 0px;
   margin: 0;
}
#Table1 td
{
   padding: 20px 20px 20px 20px;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 tr:nth-child(odd)
{
   background-color: #F3F4F6;
}
#Table1 tr:hover
{
   background-color: #EDEEF1;
}
